<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools"
  package="uet.vnu.quizlet">

  <application
    android:allowBackup="true"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:roundIcon="@mipmap/ic_launcher_round"
    android:supportsRtl="true"
    android:theme="@style/Theme.Design.Light.NoActionBar">
    <activity android:name=".Main.CreateTab.CreateSet.SetOptionActivity"></activity>
    <activity android:name=".Main.CreateTab.CreateClass.CreateClassActivity" />
    <activity android:name=".Main.CreateTab.CreateFolder.CreateFolderActivity" />
    <activity android:name=".Main.CreateTab.CreateSet.CreateSetActivity" />
    <activity android:name=".Main.HomeTab.SetSelectedActivity"/>
    <activity
      android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
      android:label="@string/app_name"
      android:name="com.facebook.FacebookActivity" />
    <activity
      android:exported="true"
      android:name="com.facebook.CustomTabActivity">
      <intent-filter>
        <action android:name="android.intent.action.VIEW" />

        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />

        <data android:scheme="@string/fb_login_protocol_scheme" />
      </intent-filter>
    </activity>
    <activity android:name=".Intro.SignUpActivity" />
    <activity android:name=".Intro.SignInActivity" />
    <activity android:name=".Intro.IntroActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
    <activity android:name=".Main.MainActivity" />
    <activity android:name=".Main.HomeTab.DirectSet.Test.TestActivity_summary" />
    <activity android:name=".Main.HomeTab.DirectSet.Test.TestActivity_type_answer" />
    <activity android:name=".Main.HomeTab.DirectSet.Test.TestActivity_choose_answer" />
    <activity android:name=".Main.HomeTab.DirectSet.Test.TestActivity_choose_answer_true_false" />
    <activity android:name=".Main.HomeTab.DirectSet.Test.TestActivity" />
    <activity android:name=".Main.HomeTab.DirectSet.Learn.LearnActivity" />
    <activity android:name=".Main.HomeTab.DirectSet.Write.WriteActivity" />
    <activity android:name=".Main.HomeTab.DirectSet.Write.WriteCorrectActivity" />
    <activity android:name=".Main.HomeTab.DirectSet.Write.WriteIncorrectActivity" />
    <activity android:name=".Main.HomeTab.SetInfoFragment$SetSelectedActivity" />

    <meta-data
      android:name="com.facebook.sdk.ApplicationId"
      android:value="@string/facebook_app_id"
      tools:replace="android:value" />
  </application>

  <uses-permission android:name="android.permission.INTERNET" />

</manifest>